<h1>期限が近づいているのお知らせ</h1>
<h3>~アクションを起こしましょう~</h3>

<strong>期限が2日以内に迫っているアクション一覧です。</strong>
<br />
<hr />
<% @team.plans.each do |plan| %>
  <% if plan.status == (0 || 1) && (plan.due_date_at - @today).to_i < 2 %>
  <ul>
    <li>
      チーム名：<strong><%= @team.name %></strong> |
      タスク名：<strong><%= @team.plans.action %></strong> |
      期限：<strong><%= plan.due_date_at %></strong>
    </li>
  </ul>
  <% end %>
<% end %>